<h2>Vehicle</h2>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#vehicle">Vehicle</a></li>
    <li><a data-toggle="tab" href="#photos">Photos</a></li>
</ul>

<div class="tab-content">
        <div id="vehicle" class="tab-pane well fade in active">
            <h2>Basics</h2>
            <ul class="list-group">
                <li class="list-group-item">Make : {{vehicle.make.name}}</li>
                <li class="list-group-item">Model : {{vehicle.model.name}}</li>
                <li class="list-group-item">Registered : {{vehicle.isRegistered}}</li>
            </ul>
            <h2>Features</h2>

            <ul class="list-group">
                <li class="list-group-item" *ngFor="let feature of vehicle.features"> {{feature.name}}</li>
            </ul>

            <h2>Contact</h2>

            <ul class="list-group">
                <li class="list-group-item">Contact Name : {{vehicle.contact.name}}</li>
                <li class="list-group-item">Contact Phone : {{vehicle.contact.phone}}</li>
                <li class="list-group-item">Contact Email : {{vehicle.contact.email}}</li>
            </ul>

        </div>
        <div id="photos" class="tab-pane well fade">
            <h2>Photos</h2>
            <input type="file" (change)="uploadPhoto()" #fileInput *ngIf="authService.isAuthenticated()">

            <div class="progress" *ngIf="progress && progress.percentage < 100">
                <div class="progress-bar" [style.width]="progress.percentage + '%'">
                    <span class="sr-only">{{progress.percentage}}% Complete</span>
                </div>
            </div>
            <img *ngFor="let photo of photos" src="/uploads/{{photo.fileName}}" class="img-thumbnail"/>

        </div>


        <a [routerLink]="['/vehicles/' + vehicle.id]" class="btn btn-primary" *ngIf="authService.isAuthenticated()">Edit</a>
        <button class="btn btn-danger" type="button" (click)="delete()" *ngIf="authService.isAuthenticated()">Delete</button>
        <a [routerLink]="['/vehicles/']" class="btn btn-default">All Vehicles</a>
</div>


