<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Vega</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <!--<a href="https://vegaprojca.auth0.com/login?client=Bqu3vRj8R9gIhWQqfPFa4m3E86bZdIy3" *ngIf="!authService.isAuthenticated()">-->
                    <a (click)="authService.login()" *ngIf="!authService.isAuthenticated()">
                        <span class='glyphicon glyphicon-user'></span> Login
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a (click)="authService.logout()" *ngIf="authService.isAuthenticated()">
                        <span class='glyphicon glyphicon-user'></span> Logout
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/vehicles']">
                        <span class='glyphicon glyphicon-home'></span> Vehicle
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/vehicles/new']">
                        <span class='glyphicon glyphicon-plus'></span> New Vehicle
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="authService.isInRole('Admin')">
                    <a [routerLink]="['/admin']">
                        <span class='glyphicon glyphicon-education'></span> Admin
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
