<h2>Vehicles</h2>
<p *ngIf="authService.isAuthenticated()">
    <a [routerLink]="['/vehicles/new']" class="btn btn-primary" >New Vehicle</a>
</p>

<div class="well">
    <div class="form-group">
        <label for="make">Make</label>
        <select id="make" class="form-control" [(ngModel)]="query.makeId" (change)="onFilterChange()">
            <option value=""></option>
            <option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</option>
        </select>
        <button class="btn btn-default" (click)="resetFilter()">Reset</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th *ngFor="let c of columns" >
                <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
                {{c.title}}
                <i *ngIf="query.sortBy === c.key 
                   "class="fa" 
                   [class.fa-sort-asc]="query.isSortAscending"
                   [class.fa-sort-desc]="!query.isSortAscending"></i>
                </div>
                <div *ngIf="!c.isSortable"> {{c.title}}</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.id}}</td>
            <td>{{vehicle.contact.name}}</td>
            <td>{{vehicle.make.name}}</td>
            <td>{{vehicle.model.name}}</td>

            <td> <a [routerLink]="['/vehicles/view/' + vehicle.id]">View</a></td>
        </tr>
    </tbody>

</table>
<pagination [total-items] ="totalItems" [page-size] ="query.pageSize" (page-changed)="onPageChange($event)"></pagination>

