<h2>Add a Vehicle</h2>
<p>
    {{vehicle | json}}
</p>
<form #form="ngForm" (ngSubmit)="submit()" novalidate>

    <div class="form-group">
        <label for="make">Make</label>
        <select class="form-control" id="makeId" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" name="makeId" required #make="ngModel">
            <option *ngFor="let make of makes" value="{{make.id}}">
                {{ make.name }}
            </option>
        </select>
        <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Please specify the make.</div>
    </div>

    <div class="form-group">
        <label for="modelSelect">Model</label>
        <select class="form-control" id="modelId" [(ngModel)]="vehicle.modelId" name="modelId" required #model="ngModel">
            <option *ngFor="let model of models" value="{{model.id}}">
                {{ model.name }}
            </option>
        </select>
        <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Please specify the model.</div>
    </div>

    <fieldset class="form-group">
        <legend>Is this vehcile registered</legend>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="isRegistered" id="registered" [value]="true" [(ngModel)]="vehicle.isRegistered">
            Yes
        </label>

        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="isRegistered" id="notRegistered" [value]="false" [(ngModel)]="vehicle.isRegistered">
            No
        </label>

    </fieldset>

    <h2>Features</h2>

    <div class="form-check" *ngFor="let feature of features">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="{{feature.id}}" [checked]="vehicle.features.includes(feature.id)" (change)="onFeatureToggle(feature.id, $event)">
            {{feature.name}}
        </label>
    </div>

    <h2> Contact</h2>

    <div class="form-group">
        <label for="contactName">Name</label>
        <input type="text" class="form-control" id="contactName" placeholder="Joe Smith" [(ngModel)]="vehicle.contact.name" name="contactName" required #contactName="ngModel">
        <div class="alert alert-danger" *ngIf="contactName.touched && !contactName.valid">Please enter your name</div>
    </div>

    <div class="form-group">
        <label for="contactPhone">Phone</label>
        <input type="text" class="form-control" id="contactPhone" placeholder="+1-(234)-567-8910" [(ngModel)]="vehicle.contact.phone" name="contactPhone" required #contactPhone="ngModel">
        <div class="alert alert-danger" *ngIf="contactPhone.touched && !contactPhone.valid">Please enter your phone</div>
    </div>

    <div class="form-group">
        <label for="contactEmail">Email</label>
        <input type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="vehicle.contact.email" name="contactEmail" required #contactEmail="ngModel">
        <div class="alert alert-danger" *ngIf="contactEmail.touched && !contactEmail.valid">Please enter your email</div>
    </div>

    <button class="btn btn-primary" [disabled]="!form.valid">Save</button>
    <button *ngIf="vehicle.id" class="btn btn-danger" type="button" (click)="delete()" [disabled]="!form.valid">Delete</button>
</form>